<a href="https://colab.research.google.com/github/praptisharma28/Python-Google-Collab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WAP to find all such no. which are divisible by 7 but are not a multiple of 5 between 2000 and 3200

In [ ]:
for i in range(2000,3201):
  if((i%7==0)&(i%5!=0)):
    print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

WAP which can compute factorial of a given no., the result should be printed in a comma separated sequence in a single line.

In [ ]:
fact=1
a=int(input("Enter no:"))
for i in range(1,a+1):
  fact=fact*i
  print(fact, end=",")

Enter no:8
1,2,6,24,120,720,5040,40320,

In [ ]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
list=[1,2,3,4,5]
list1=[2,3,4,5]
print(list+list1)

[1, 2, 3, 4, 5, 2, 3, 4, 5]

WAP to find maximum of two numbers

In [ ]:
a=2
b=7
if (a>b):
  print("a is greater")
else:
  print("b is greater")

b is greater

WAP to print simple interest

In [ ]:
P=float(input("enter p:"))
R=int(input("enter r:"))
T=float(input("enter t:"))
print((P*R*T)/100)

enter p:10.67
enter r:2
enter t:2.5
0.5335

WAP to check whether a number is prime or not

In [ ]:
num=11
c=0
for i in range(1,num+1):
  if num % i == 0:
    c=c+1
if c==2:
    print("prime")
else:
    print("not")

prime

WAP to interchange first and last item in a list

In [ ]:
list=[1,2,3,4]
list[0]=8
list[3]=12
print(list)

[8, 2, 3, 12]

WAP to swap two lists

In [ ]:
list1=[1,2,3,4]
list2=[5,6,7,8]
list=list1
list1=list2
list2=list
print(list1)

[5, 6, 7, 8]

WAP to find lenth of list

In [ ]:
list=[1,2,3,4]
print(len(list))

4

WAP to check if element exist in the list

In [ ]:
list=[1,2,3,4]
a=2
if a in list:
  print("Yes")
else:
  print("No")

Yes

WAP to reverse a list

In [ ]:
list=[1,2,3,4]
print(list[::-1])

[4, 3, 2, 1]